build/
build-*/
*-build-*/
*.pro.user
*.pro.user.*
.qtcreator/
*.o
*.obj
*.exe
*.dll
*.so
*.so.*
*.dylib
Makefile
Makefile.*
*.a
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
.qmake.stash
.qmake.cache
deploy/
*.AppImage
*.zip
*.db
*.db-journal
novedades.txt
.DS_Store
Thumbs.db
